@import 'vars';
@import 'mixins';

html {
  background: $background-color;
  color: $font-color;
  font-family: $font-family;
}

body {
  margin: 0;
}

input[type=radio]{
  visibility: hidden;
  position: absolute;
}

label {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

.title {
  margin: 1rem 0 0 0;
  text-align: center;
  width: 100%;
}

.button {
  background: none;
  border: 2px solid $background-color-lighter;
  border-radius: 5px;
  color: $font-color;
  cursor: pointer;
  font-family: $font-family;
  font-size: 1rem;
  transition: all 0.1s;

  &:hover {
    color: $font-color-active;
    //transform: scale(1.1);
    border-color: $font-color-active;
  }

  &:focus {
    outline: none;
    color: $font-color-active;
  }
}