@import 'vars';
@import 'mixins';

html {
  background: $background-color;
  color: $font-color;
  font-family: $font-family;
}

body {
  margin: 0;
}

input[type=radio]{
  visibility: hidden;
  position: absolute;
}

label {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

.title {
  //color: $font-color-active;
  text-align: center;
  width: 100%;
}

.button {
  background: none;
  border-width: 0;
  color: $font-color;
  cursor: pointer;
  font-family: $font-family;
  font-size: 1rem;

  @include hoverText;

  &:focus {
    outline: none;
    color: $font-color-active;
  }
}