$color1: rgba(5, 102, 141, 1);
$color2: rgba(2, 128, 144, 1);
$color3: rgba(0, 168, 150, 1);
$color4: rgba(2, 195, 154, 1);
$color5: rgba(240, 243, 189, 1);

$font-color: #d1d1d1;
$font-color-active: $color4;
$font-color-inactive: darken($font-color, 20%);
$font-family: serif;

$background-color: black;
$background-color-lighter: lighten($background-color, 10%);